.signup {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('../assets/imgs/mmm.jpg'); /* Ensure this path is correct */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
}

.hi {
  margin-top: 4px;
}

.signup-main {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.8); /* Add opacity to make the form stand out */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.signup-form .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.signup-form .form-group input {
  width: calc(100% - 20px); /* Adjust width based on the padding */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.signin-link {
  margin-top: 15px;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
}

.signin-link a:hover {
  text-decoration: underline;
}

.co{
  background-color: #000000ad;
}